# .gitignore automatically created on 2019-11-21 16:01
# adding untracked files on 2019-11-21 16:01
.vscode/
__pycache__/
gurobi.log
ks_engine/__pycache__/
instances/*
test-config/*
*.csv
*.dat
*.sol
*.sh